<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/dashboard">Dashboard</a>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome, <%= user.username %>!</h1>
        <p>Bus Location Information:</p>
        
        <div id="map"></div> <!-- Map will be rendered here -->
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
